Binaries
DerivedDataCache
Intermediate
Saved
00
lfs
Out
.idea
LocalDerivedDataCache
DerivedDataCache
Build

Content/00
Content/AdvancedFemaleCustomization
Content/ParagonTwinblast
Content/TopDownBarbarianCamp
Content/TopDownDesertTown
Content/TopDown_Primal_Settlement
Content/ParagonShinbi
Content/ParagonGideon/FX
Content/ParagonGideon/Characters/Maps
Content/ParagonGideon/Characters/Global
Content/ParagonGideon/Characters/Heroes/Gideon/Skins
Content/ParagonMurdock
Content/ParagonRevenant
Content/ParagonShinbi
Content/ParagonTwinblast
Content/ParagonWraith/
Content/ParagonSparrow/FX
Content/ParagonSparrow/Characters
Content/ParagonSparrow
Content/StarterContent
Content/Japanese_Temple
Content/Underworld
Content/Sky_Dungeon
Content/500_Spell_Icons/textures/Emblems/T_Rogue.uasset
Content/500_Spell_Icons/textures/Classes/Assassin/Rogue/T_Rogue14.uasset
Content/Assets/Sound/Horse/smartsound_ANIMAL_HORSE_Step_Snow_02.uasset
Content/Assets/Sounds/Gun_Explosion_Sounds
Plugins/AscentCombatFramework/Binaries
Plugins/AscentCombatFramework/Intermediate
Content/Assets/Sounds/Skills/johnj_sound_design_cinematic_hit_whoosh_dramatic.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace